@font-face {
  font-family: "NeueMontreal-Regular";
  src: url('./../fonts/neue-montreal/neuemontreal-regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal-Medium";
  src: url('./../fonts/neue-montreal/neuemontreal-medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal-Bold";
  src: url('./../fonts/neue-montreal/neuemontreal-bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TuskerGrotesk-Medium";
  src: url('./../fonts/tusker-grotesk/TuskerGrotesk-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TuskerGrotesk-Semibold";
  src: url('./../fonts/tusker-grotesk/TuskerGrotesk-Semibold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Savinder";
  src: url('./../fonts/savinder/savinder.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-neuemontreal-bold {
  font-family: "NeueMontreal-Bold";
}
.font-savinder {
  font-family: "Savinder";
}

// classes
.font-tuskergrotesk-medium {
  font-family: "TuskerGrotesk-Medium";
}

// @import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
// @import url('https://fonts.cdnfonts.com/css/savinder');