:root {
  --primary: #159DA3;
  --primary-light: #5EEEE7;
  --blue-light: #F3F8FB;
  
  --gray: #4D4D4D;

  --font-family: "NeueMontreal-Regular";
  --section-padding: clamp(45px, 7vw, 100px) 0;

  --heading-color: #000000;
  --heading-font-family: "TuskerGrotesk-Medium";
}
