@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 500;
    }
}

.hero-sec {
    padding: 80px 0 0;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 640px;
        top: 0;
        left: 0;
        background-image: url('./../../assets/img/hero-bg.webp');
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
    .content-warpper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 860px;
        margin: 0 auto;

        .main-title {
            font-size: 60px;
        }
    }
    .ship-img {
        position: relative;
        z-index: 1;
        margin-top: -40px;
        transform: scale(0);
        transition: .6s;
        transform-origin: left bottom;
        pointer-events: none;
        &.active {
            animation: 18s linear infinite ship-x-movment alternate-reverse;
        }
        @keyframes ship-x-movment {
            0% {
                transform: translate(0, 0);
            }
            40% {
                transform: translate(20px, 20px);
            }
            80% {
                transform: translate(0, -20px);
            }
            100% {
                transform: translate(0, 0);
            }
        }
    }
    &.active {
        .ship-img {
            transform: scale(1);
        }
    }
}


@media (max-width: 991px) {
    .hero-sec {
        padding: 60px 0;
        .content-warpper {
            padding: 0;
            .main-title {
                font-size: 46px;
            }
        }
    }

    .half-sec {
        &.content-right {
            .content-wrapper {
                padding-left: 0;
            }
        }

        &.content-left {
            .content-wrapper {
                padding-right: 0;
            }
        }

        .img-wrapper {
            max-width: fit-content;
            margin: auto;

            .sec-img {
                max-width: 340px;
                display: block;
                margin: 0 auto;
            }

            .line-obj {
                svg {
                    width: 220px;

                }
            }
        }
    }
}

@media (max-width: 767px) {
    .hero-sec {
        padding: 45px 0;
        .content-warpper {
            .main-title {
                font-size: 36px;
            }
        }

    }

    .half-sec {
        &.content-right {
            .line-obj {
                left: -100px;
            }
        }

        &.content-left {
            .line-obj {
                right: -100px;
            }
        }

        .img-wrapper {
            .line-obj {
                svg {
                    width: 180px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    
}